
<!doctype html>
<HTML>
<HEAD>
<body bgcolor="#849ab8">
  <title> Dhaka Bus Route  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</HEAD>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:8000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<hr>

<BODY>
<BR>
<TABLE ALIGN="center" BORDER=0 CELLSPACING=0 CELLPADDING=0 >
 <TR ALIGN="left" VALIGN="middle">

</TABLE>
<BR>
<table width="400" border="0" cellspacing="0" cellpadding="1" bgcolor="#BDD3EF" align="center">
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="9" bgcolor="#BDD3EF">
    <tr>
    <td colspan="4" bgcolor="#BDD3EF" align="center">
        <b>                <h1>Sign in</h1>    </b>
    </td>
    </tr>

    <Tr>
      <Td bgcolor="#ffffff" align="left">
        <font face="Verdana, Arial, Helvetica, sans-serif" size="4">
          {% block content %}
          <form class="form" action="login" method="post">
            {% csrf_token %}
            <div class="" style="background-color: rgb(233, 245, 233);color: black;padding: 5px 10px;text-decoration: none;display: inline-block;">
              Username : <input type="text" name="username" placeholder="Enter Username" size="30" >
            </div>

            <br><br>
            <div class="" style="background-color: rgb(233, 245, 233);color: black;padding: 5px 10px;text-align: center;text-decoration: none;display: inline-block;">
              Password : <input type="password" name="password" placeholder="Enter Your Password" size="31">
            </div>

            <br><br>
            <div class="" ALIGN="right">
              <input type="submit" name="" value="Submit" ALIGN="right">
            </div>

          </form>

          {% endblock content %}
      </Td>
</body>
</html>
